---
import Hero from '../components/hero.astro';
import Nav from '../components/nav.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pluscover Solutions">
	<main >
		<Nav />
		<Hero />
	</main>
</Layout>

<style>
	
</style>
