---
import Hero from '../components/hero.astro';
import TitleHero from '../components/titleHero.astro';
import Nav from '../components/nav.astro';
import Layout from '../layouts/Layout.astro';
import Index2 from './index2.astro';
---

<Layout title="Pluscover Solutions">
	<main >
		<Nav/>
		<Hero/>
		<TitleHero/>
	</main>
</Layout>

<style>
	
</style>
