<div class="relative">
    <img src="imagenPortada.webp" alt="" class="pt-12 pb-8">
    <div class="absolute top-36 left-24 ">
    <p class="font-bold text-6xl leading-snug">Nueva </p>
    <p class="font-bold text-6xl leading-snug">colección </p>
    <p class="font-bold text-6xl leading-snug">Ecover </p>
    
</div><a href="/" class="absolute bottom-1/4 scale-[0.25] px-16 py-5 bg-white rounded-full"> <img src="flecha.png" class="" alt=""></a>

</div>